<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.umg.mi.idrt.importtool.IDRT"
            class="de.umg.mi.idrt.admin.views.View"
            icon="images/edit-copy.png"
            id="de.umg.mi.idrt.admin.view"
            name="Admin View">
      </view>
   </extension>

</plugin>
