<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="images/answergroup.gif">
         <run
               class="de.umg.mi.idrt.ioe.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.umg.mi.idrt.ioe.application"
            name="IDRT Import Tool">
         <property
               name="appName"
               value="IDRT Import Tool">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/answergroup.gif">
         </property>
         <property
               name="aboutText"
               value="i2b2 import tool&#x0A;-----------------&#x0A;&#x0A;(ver 0.9.2)&#x0A;&#x0A;&#x0A;ver 0.9.1&#x0A;- a lot">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.SystemExit"
            id="edu.goettingen.i2b2.importtool.commands.SystemExit"
            name="%command.name.0">
      </command>
      <category
            id="edu.goettingen.i2b2.importtool.OntologyEditor"
            name="OntologyEditor">
      </category>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadSourceAndCreateViews"
            id			  ="edu.goettingen.i2b2.importtool.OntologyEditorLoad"
            name="Load from i2b2DB ...">
      </command>
      <command
            id="edu.goettingen.i2b2.importtool.command.OTCopy"
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.CopySourceNodesToTarget"
            name="OTCopy">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Source"
               name="SourceNodeName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Target"
               name="TargetNodeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SetTargetAttribute"
            id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute"
            name="SetTargetAttribute">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Source"
               name="Source"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Target"
               name="Target"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Attribute"
               name="Attribute"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SaveTarget"
            id="edu.goettingen.i2b2.importtool.OTWriteTarget"
            name="Save Target">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadTarget"
            id="edu.goettingen.i2b2.importtool.OTReadTarget"
            name="OTReadTarget">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.etlStagingI2B2ToTargetI2B2"
            id="de.umg.mi.idrt.ioe.command.etlStagingI2B2ToTargetI2B2"
            name="etlStagingI2B2ToTargetI2B2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.umg.mi.idrt.ioe.TargetViewToolbar"
               label="TargetI2B2 Toolbar">
            <command
                  commandId="de.umg.mi.idrt.ioe.command.etlStagingI2B2ToTargetI2B2"
                  icon="icons/command_obj.gif"
                  label="etlStagingI2B2ToTargetI2B2"
                  style="push">
            </command>
            <command
                  commandId="edu.goettingen.i2b2.importtool.OTReadTarget"
                  icon="icons/toc_open.gif"
                  label=" - load target"
                  style="push">
            </command>
            <command
                  commandId="edu.goettingen.i2b2.importtool.OTWriteTarget"
                  icon="icons/save_edit.gif"
                  label=" - save target"
                  style="push">
            </command>
            <command
                  commandId="edu.goettingen.i2b2.importtool.OntologyEditorLoad"
                  label="Load Ontology from 2i2b-DB ..."
                  style="push"
                  tooltip="Load Ontology from 2i2b-DB ...">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.MainView"
            id="edu.goettingen.i2b2.importtool.view.MainView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.StatusView"
            id="edu.goettingen.i2b2.importtool.view.StatusView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.OntologyView"
            id="edu.goettingen.i2b2.importtool.view.OntologyView"
            name="%view.name.1"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorSourceView"
            id="edu.goettingen.i2b2.importtool.view.EditorSourceView"
            name="EditorSourceView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorSourceInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorSourceInfoView"
            name="EditorSourceInfoView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorTargetView"
            id="edu.goettingen.i2b2.importtool.view.EditorTargetView"
            name="EditorTargetView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorTargetInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorTargetInfoView"
            name="EditorTargetInfoView"
            restorable="true">
      </view>
      <view
            class="de.umg.mi.idrt.ioe.view.OntologyEditorView"
            id="de.umg.mi.idrt.ioe.OntologyEditor"
            name="Ontology Editor"
            restorable="true">
      </view>
   </extension>
</plugin>
