<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.activities">
	      <activity
	            description="My RCP Activity"
	            id="my.rcp.activity"
	            name="MyRCP">
	      </activity>
	      <activityPatternBinding
	            activityId="my.rcp.activity"
	            pattern="org\.eclipse\.search/.*">
	      </activityPatternBinding>
	</extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="images/answergroup.gif">
         <run
               class="de.umg.mi.idrt.ioe.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.umg.mi.idrt.ioe.application"
            name="I2B2ImportTool">
         <property
               name="appName"
               value="I2B2ImportTool">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/answergroup.gif">
         </property>
         <property
               name="aboutText"
               value="i2b2 import tool&#x0A;-----------------&#x0A;&#x0A;(ver 0.9.2)&#x0A;&#x0A;&#x0A;ver 0.9.1&#x0A;- a lot">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.SystemExit"
            id="edu.goettingen.i2b2.importtool.commands.SystemExit"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.ShowImportProgressBar"
            id="edu.goettingen.i2b2.importtool.commands.ShowImportProgressBar"
            name="%command.name.5">
      </command>
      <category
            id="edu.goettingen.i2b2.importtool.OntologyEditor"
            name="OntologyEditor">
      </category>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadSourceAndCreateViews"
            id			  ="edu.goettingen.i2b2.importtool.OntologyEditorLoad"
            name="Load from i2b2DB ...">
      </command>
      <command
            id="edu.goettingen.i2b2.importtool.command.OTCopy"
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.CopySourceNodesToTarget"
            name="OTCopy">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Source"
               name="SourceNodeName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Target"
               name="TargetNodeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SetTargetAttribute"
            id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute"
            name="SetTargetAttribute">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Source"
               name="Source"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Target"
               name="Target"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Attribute"
               name="Attribute"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SaveTarget"
            id="edu.goettingen.i2b2.importtool.OTWriteTarget"
            name="Save Target">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadTarget"
            id="edu.goettingen.i2b2.importtool.OTReadTarget"
            name="OTReadTarget">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Import">
         </menu>
         <menu
               label="Server Settings">
         </menu>
         <menu
               label="Editor">
            <command
                  commandId="edu.goettingen.i2b2.importtool.OntologyEditorLoad"
                  label="Load Ontology from 2i2b-DB ..."
                  style="push"
                  tooltip="Load Ontology from 2i2b-DB ...">
            </command>
            <command
                  commandId="edu.goettingen.i2b2.importtool.OTWriteTarget"
                  label=" - save target"
                  style="push">
            </command>
            <command
                  commandId="edu.goettingen.i2b2.importtool.OTReadTarget"
                  label=" - load target"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:edu.goettingen.i2b2.importtool.view.MainView">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.installationDialog.buttonbar">
         <command
               commandId="de.goettingen.i2b2.importtool.idrt.options"
               id="opt"
               label="options"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.MainView"
            id="edu.goettingen.i2b2.importtool.view.MainView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.StatusView"
            id="edu.goettingen.i2b2.importtool.view.StatusView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.OntologyView"
            id="edu.goettingen.i2b2.importtool.view.OntologyView"
            name="%view.name.1"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorSourceView"
            id="edu.goettingen.i2b2.importtool.view.EditorSourceView"
            name="EditorSourceView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorSourceInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorSourceInfoView"
            name="EditorSourceInfoView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorTargetView"
            id="edu.goettingen.i2b2.importtool.view.EditorTargetView"
            name="EditorTargetView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorTargetInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorTargetInfoView"
            name="EditorTargetInfoView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.goettingen.i2b2.importtool.view.MainPerspective">
         <view
               closeable="false"
               id="edu.goettingen.i2b2.importtool.view.MainView"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.goettingen.i2b2.importtool.view.StatusView"
               minimized="false"
               ratio="0.5f"
               moveable="true"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="edu.goettingen.i2b2.importtool.view.OntologyView"
               minimized="false"
               moveable="true"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.umg.mi.idrt.ioe.Settings"
            id="edu.goettingen.i2b2.importtool.Settings"
            name="%page.name">
         <keywordReference
               id="edu.goettingen.i2b2.importtool.keyword.I2B2.DATABASE_NAME">
         </keywordReference>
         <keywordReference
               id="edu.goettingen.i2b2.importtool.keyword.I2B2.ONTOLOGYHEADPATH">
         </keywordReference>
         <keywordReference
               id="edu.goettingen.i2b2.importtool.keyword.LAST_IMPORTED_FILE">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.umg.mi.idrt.ioe.view.MainPerspective"
            id="edu.goettingen.i2b2.importtool.view.MainPerspective"
            name="iiT MainPerspective">
      </perspective>
      <perspective
            class="de.umg.mi.idrt.ioe.view.OntologyPerspective"
            id="edu.goettingen.i2b2.importtool.view.OntologyPerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="edu.goettingen.i2b2.importtool.keyword.I2B2.DATABASE_NAME"
            label="%keyword.label">
      </keyword>
      <keyword
            id="edu.goettingen.i2b2.importtool.keyword.I2B2.ONTOLOGYHEADPATH"
            label="%keyword.label.0">
      </keyword>
      <keyword
            id="edu.goettingen.i2b2.importtool.keyword.LAST_IMPORTED_FILE"
            label="%keyword.label.1">
      </keyword>
      </extension>
</plugin>
