<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="images/answergroup.gif">
         <run
               class="de.umg.mi.idrt.ioe.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.umg.mi.idrt.ioe.application"
            name="IDRT Import Tool">
         <property
               name="appName"
               value="IDRT Import Tool">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/answergroup.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.umg.mi.idrt.ioe.Perspective"
            id="de.umg.mi.idrt.ioe.perspective"
            name="perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.StatusView"
            id="edu.goettingen.i2b2.importtool.view.StatusView"
            name="StatusView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorSourceInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorSourceInfoView"
            name="EditorSourceInfoView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.umg.mi.idrt.ioe.view.EditorTargetInfoView"
            id="edu.goettingen.i2b2.importtool.view.EditorTargetInfoView"
            name="EditorTargetInfoView"
            restorable="true">
      </view>
      <view
            class="de.umg.mi.idrt.ioe.view.OntologyEditorView"
            id="de.umg.mi.idrt.ioe.OntologyEditor"
            name="Ontology Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="de.umg.mi.idrt.ioe.OntologyEditor"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file.id"
               label="File">
         </menu>
         <menu
               label="Target i2b2">
            <command
                  commandId="de.umg.mi.idrt.ioe.newInstance"
                  label="New Instance..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.goettingen.i2b2.importtool.OntologyEditor"
            name="OntologyEditor">
      </category>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadSourceAndCreateViews"
            id="edu.goettingen.i2b2.importtool.OntologyEditorLoad"
            name="Load from i2b2DB ...">
      </command>
      <command
            id="edu.goettingen.i2b2.importtool.command.OTCopy"
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.CopyStagingNodesToTarget"
            name="OTCopy">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Source"
               name="SourceNodeName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Target"
               name="TargetNodeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SetTargetAttribute"
            id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute"
            name="SetTargetAttribute">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Source"
               name="Source"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Target"
               name="Target"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTSetTargetAttribute.Attribute"
               name="Attribute"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SaveTarget"
            id="de.umg.mi.idrt.ioe.SaveTarget"
            name="Save Target">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.ReadTarget"
            id="edu.goettingen.i2b2.importtool.OTReadTarget"
            name="OTReadTarget">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.etlStaginToTargetI2B2"
            id="de.umg.mi.idrt.ioe.command.etlStagingI2B2ToTargetI2B2"
            name="etlStagingI2B2ToTargetI2B2">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.DeleteNodeCommand"
            id="de.umg.mi.idrt.ioe.deletenode"
            name="deleteNode">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.HideNodeCommand"
            id="de.umg.mi.idrt.ioe.hideNode"
            name="hideNode">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.IncrementTargetVersion"
            id="de.umg.mi.idrt.ioe.IncrementTargetVersion"
            name="IncrementTargetVersion">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.NewInstanceCommand"
            id="de.umg.mi.idrt.ioe.newInstance"
            name="newInstance">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.UploadProjectCommand"
            id="de.umg.mi.idrt.ioe.uploadProject"
            name="uploadProject">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.AddFolderCommand"
            id="de.umg.mi.idrt.ioe.addNode"
            name="addNode">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.AddItemCommand"
            id="de.umg.mi.idrt.ioe.addItem"
            name="addItem">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.RenameNodeCommand"
            id="de.umg.mi.idrt.ioe.renameNode"
            name="renameNode">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.LoadTargetProjects"
            id="de.umg.mi.idrt.ioe.LoadTargetProjects"
            name="LoadTargetProjects">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.CombineNodesCommand"
            id="de.umg.mi.idrt.ioe.combineNodes"
            name="combineNodes">
         <commandParameter
               id="edu.goettingen.i2b2.importtool.command.OTCopy.Target"
               name="TargetNodeName"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.SaveTargetProject"
            id="de.umg.mi.idrt.ioe.SaveTargetProject"
            name="SaveTargetProject">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.LoadTargetOntology"
            id="de.umg.mi.idrt.ioe.LoadTargetOntology"
            name="LoadTargetOntology">
      </command>
            <command
            defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.EditInstanceCommand"
            id="de.umg.mi.idrt.ioe.editInstance"
            name="editInstance">
      </command>
       <command
                  defaultHandler="de.umg.mi.idrt.ioe.commands.OntologyEditor.DeleteTarget"
                  id="de.umg.mi.idrt.ioe.DeleteTarget"
                  name="DeleteTarget">
               <commandParameter
                     id="de.umg.mi.idrt.ioe.DeleteTargetAttribute.TargetID"
                     name="TargetID"
                     optional="true">
               </commandParameter>
            </command>
   </extension>
</plugin>
