<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.ODMImportCommand"
            id="de.goettingen.i2b2.importtool.ODMImport"
            name="ODMImport">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.CSVImportCommand"
            id="de.goettingen.i2b2.importtool.CSVImport"
            name="CSVImport">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.DBImportCommand"
            id="de.goettingen.i2b2.importtool.DBImport"
            name="DBImport">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.P21ImportCommand"
            id="de.goettingen.i2b2.importtool.P21Import"
            name="P21Import">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.DeleteTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.deleteServer"
            name="DeleteTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.EditTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.editServer"
            name="EditTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.AddTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.addServer"
            name="AddTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.DeleteAllTargetServersCommand"
            id="de.goettingen.i2b2.importtool.idrt.deleteAllServers"
            name="DeleteAllTargetServers">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.AdminTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.adminServer"
            name="AdminTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.ExportTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.exportServer"
            name="ExportTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.ImportTargetServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.importServer"
            name="ImportTargetServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.RefreshCommand"
            id="de.goettingen.i2b2.importtool.idrt.refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.AddSourceServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.addSourceServer"
            name="AddSourceServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.DeleteSourceServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.deleteSourceServer"
            name="DeleteSourceServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.EditSourceServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.editSourceServer"
            name="EditSourceServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.ExportSourceServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.exportSourceServer"
            name="ExportSourceServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.server.commands.ImportSourceServerCommand"
            id="de.goettingen.i2b2.importtool.idrt.importSourceServer"
            name="ImportSourceServer">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.ReportBugCommand"
            id="de.umg.mi.idrt.importtool.reportBug"
            name="reportBug">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.DocumentationCommand"
            id="de.umg.mi.idrt.importtool.documentation"
            name="Documentation">
      </command>
      <command
            defaultHandler="de.umg.mi.idrt.idrtimporttool.commands.MDRImportCommand"
            id="de.umg.mi.idrt.importtool.MDRImport"
            name="MDRImport">
      </command>
   </extension>
  <!-- <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="de.goettingen.i2b2.importtool.importidrt.Testpage"
            id="testid"
            name="test">
      </page>
   </extension> -->
</plugin>
